//Переменные с информацией об элементах спрайта
{{#items}}

@{{name}}: '{{{escaped_image}}}' {{px.offset_x}} {{px.offset_y}} {{px.width}} {{px.height}};

{{/items}}

//Миксин для вывода спрайта
.sprite( @img ) {
	@path: '../img/';
	@bg: extract(@img, 1);
	background-image: url("@{path}@{bg}");
	background-position: extract(@img, 2) extract(@img, 3);
	background-repeat: no-repeat;
	width: extract(@img, 4);
	height: extract(@img, 5);
}
