
@sprite-airbag:.stitches-sprite(sprite2.png, 643px, 0px, 67px, 78px);


@sprite-arrow-blue-left:.stitches-sprite(sprite2.png, 172px, 0px, 26px, 26px);


@sprite-arrow-blue-right:.stitches-sprite(sprite2.png, 200px, 0px, 26px, 26px);


@sprite-arrow-brown-left:.stitches-sprite(sprite2.png, 144px, 0px, 26px, 26px);


@sprite-arrow-brown-right:.stitches-sprite(sprite2.png, 228px, 0px, 26px, 26px);


@sprite-arrow:.stitches-sprite(sprite2.png, 116px, 0px, 26px, 26px);


@sprite-auto:.stitches-sprite(sprite2.png, 4496px, 0px, 1268px, 431px);


@sprite-avatar:.stitches-sprite(sprite2.png, 1712px, 0px, 160px, 160px);


@sprite-battery:.stitches-sprite(sprite2.png, 1106px, 0px, 92px, 60px);


@sprite-bg2:.stitches-sprite(sprite2.png, 5766px, 0px, 1920px, 720px);


@sprite-bg3:.stitches-sprite(sprite2.png, 7688px, 0px, 1920px, 210px);


@sprite-bg4:.stitches-sprite(sprite2.png, 9610px, 0px, 1920px, 1113px);


@sprite-bg6:.stitches-sprite(sprite2.png, 11532px, 0px, 1920px, 720px);


@sprite-car:.stitches-sprite(sprite2.png, 2726px, 0px, 852px, 282px);


@sprite-checked:.stitches-sprite(sprite2.png, 31px, 0px, 17px, 14px);


@sprite-dashboard:.stitches-sprite(sprite2.png, 1200px, 0px, 92px, 55px);


@sprite-dashed:.stitches-sprite(sprite2.png, 3580px, 0px, 914px, 422px);


@sprite-form_close:.stitches-sprite(sprite2.png, 50px, 0px, 18px, 18px);


@sprite-jeep:.stitches-sprite(sprite2.png, 1294px, 0px, 98px, 48px);


@sprite-law-warranty:.stitches-sprite(sprite2.png, 712px, 0px, 67px, 62px);


@sprite-mobile_menu:.stitches-sprite(sprite2.png, 256px, 0px, 28px, 25px);


@sprite-money-warranty:.stitches-sprite(sprite2.png, 582px, 0px, 59px, 59px);


@sprite-nav-close:.stitches-sprite(sprite2.png, 317px, 0px, 30px, 29px);


@sprite-plus:.stitches-sprite(sprite2.png, 12px, 0px, 17px, 16px);


@sprite-price1:.stitches-sprite(sprite2.png, 1500px, 0px, 104px, 104px);


@sprite-price2:.stitches-sprite(sprite2.png, 1606px, 0px, 104px, 104px);


@sprite-price3:.stitches-sprite(sprite2.png, 1394px, 0px, 104px, 105px);


@sprite-review-left:.stitches-sprite(sprite2.png, 386px, 0px, 40px, 252px);


@sprite-review-right:.stitches-sprite(sprite2.png, 428px, 0px, 40px, 252px);


@sprite-shock-absorber:.stitches-sprite(sprite2.png, 781px, 0px, 69px, 69px);


@sprite-slider-bg:.stitches-sprite(sprite2.png, 1874px, 0px, 850px, 232px);


@sprite-slider:.stitches-sprite(sprite2.png, 0px, 0px, 10px, 14px);


@sprite-smartphone-cart:.stitches-sprite(sprite2.png, 349px, 0px, 35px, 46px);


@sprite-smartphone:.stitches-sprite(sprite2.png, 470px, 0px, 51px, 67px);


@sprite-spritesheet:.stitches-sprite(sprite2.png, 523px, 0px, 57px, 923px);


@sprite-star-0:.stitches-sprite(sprite2.png, 93px, 0px, 21px, 19px);


@sprite-star-1:.stitches-sprite(sprite2.png, 70px, 0px, 21px, 19px);


@sprite-steering-wheel:.stitches-sprite(sprite2.png, 931px, 0px, 85px, 86px);


@sprite-success:.stitches-sprite(sprite2.png, 286px, 0px, 29px, 22px);


@sprite-technical-warranty:.stitches-sprite(sprite2.png, 852px, 0px, 77px, 47px);


@sprite-wheel:.stitches-sprite(sprite2.png, 1018px, 0px, 86px, 87px);



/*

.sprite-airbag{
	.stitches-sprite('sprite2.png', 643px, 0px, 67px, 78px);

}


.sprite-arrow-blue-left{
	.stitches-sprite('sprite2.png', 172px, 0px, 26px, 26px);

}


.sprite-arrow-blue-right{
	.stitches-sprite('sprite2.png', 200px, 0px, 26px, 26px);

}


.sprite-arrow-brown-left{
	.stitches-sprite('sprite2.png', 144px, 0px, 26px, 26px);

}


.sprite-arrow-brown-right{
	.stitches-sprite('sprite2.png', 228px, 0px, 26px, 26px);

}


.sprite-arrow{
	.stitches-sprite('sprite2.png', 116px, 0px, 26px, 26px);

}


.sprite-auto{
	.stitches-sprite('sprite2.png', 4496px, 0px, 1268px, 431px);

}


.sprite-avatar{
	.stitches-sprite('sprite2.png', 1712px, 0px, 160px, 160px);

}


.sprite-battery{
	.stitches-sprite('sprite2.png', 1106px, 0px, 92px, 60px);

}


.sprite-bg2{
	.stitches-sprite('sprite2.png', 5766px, 0px, 1920px, 720px);

}


.sprite-bg3{
	.stitches-sprite('sprite2.png', 7688px, 0px, 1920px, 210px);

}


.sprite-bg4{
	.stitches-sprite('sprite2.png', 9610px, 0px, 1920px, 1113px);

}


.sprite-bg6{
	.stitches-sprite('sprite2.png', 11532px, 0px, 1920px, 720px);

}


.sprite-car{
	.stitches-sprite('sprite2.png', 2726px, 0px, 852px, 282px);

}


.sprite-checked{
	.stitches-sprite('sprite2.png', 31px, 0px, 17px, 14px);

}


.sprite-dashboard{
	.stitches-sprite('sprite2.png', 1200px, 0px, 92px, 55px);

}


.sprite-dashed{
	.stitches-sprite('sprite2.png', 3580px, 0px, 914px, 422px);

}


.sprite-form_close{
	.stitches-sprite('sprite2.png', 50px, 0px, 18px, 18px);

}


.sprite-jeep{
	.stitches-sprite('sprite2.png', 1294px, 0px, 98px, 48px);

}


.sprite-law-warranty{
	.stitches-sprite('sprite2.png', 712px, 0px, 67px, 62px);

}


.sprite-mobile_menu{
	.stitches-sprite('sprite2.png', 256px, 0px, 28px, 25px);

}


.sprite-money-warranty{
	.stitches-sprite('sprite2.png', 582px, 0px, 59px, 59px);

}


.sprite-nav-close{
	.stitches-sprite('sprite2.png', 317px, 0px, 30px, 29px);

}


.sprite-plus{
	.stitches-sprite('sprite2.png', 12px, 0px, 17px, 16px);

}


.sprite-price1{
	.stitches-sprite('sprite2.png', 1500px, 0px, 104px, 104px);

}


.sprite-price2{
	.stitches-sprite('sprite2.png', 1606px, 0px, 104px, 104px);

}


.sprite-price3{
	.stitches-sprite('sprite2.png', 1394px, 0px, 104px, 105px);

}


.sprite-review-left{
	.stitches-sprite('sprite2.png', 386px, 0px, 40px, 252px);

}


.sprite-review-right{
	.stitches-sprite('sprite2.png', 428px, 0px, 40px, 252px);

}


.sprite-shock-absorber{
	.stitches-sprite('sprite2.png', 781px, 0px, 69px, 69px);

}


.sprite-slider-bg{
	.stitches-sprite('sprite2.png', 1874px, 0px, 850px, 232px);

}


.sprite-slider{
	.stitches-sprite('sprite2.png', 0px, 0px, 10px, 14px);

}


.sprite-smartphone-cart{
	.stitches-sprite('sprite2.png', 349px, 0px, 35px, 46px);

}


.sprite-smartphone{
	.stitches-sprite('sprite2.png', 470px, 0px, 51px, 67px);

}


.sprite-spritesheet{
	.stitches-sprite('sprite2.png', 523px, 0px, 57px, 923px);

}


.sprite-star-0{
	.stitches-sprite('sprite2.png', 93px, 0px, 21px, 19px);

}


.sprite-star-1{
	.stitches-sprite('sprite2.png', 70px, 0px, 21px, 19px);

}


.sprite-steering-wheel{
	.stitches-sprite('sprite2.png', 931px, 0px, 85px, 86px);

}


.sprite-success{
	.stitches-sprite('sprite2.png', 286px, 0px, 29px, 22px);

}


.sprite-technical-warranty{
	.stitches-sprite('sprite2.png', 852px, 0px, 77px, 47px);

}


.sprite-wheel{
	.stitches-sprite('sprite2.png', 1018px, 0px, 86px, 87px);

}

*/
.stitches-sprite(@url: '', @x: 0, @y: 0, @width: 0, @height: 0) {
	background: url(@url) @x @y no-repeat;
	width: @width;
	height: @height;
}

/*.sprite-position(@name){
	background-position: ;
}*/
