@font-face{
  .font(RoadRadio-Bold, RoadRadio)
}

@font-face{
  .font(RoadRadio, RoadRadio)
}

@font-face{
  .font(MullerRegular, Muller)
}

@font-face{
  .font(MullerBoldItalic, Muller)
}

@font-face{
  .font(MullerRegularItalic, Muller)
}



.reset();

.container{
  .wrapper();
}
.row{
  .row-flex();
}
section{
  text-align: center;
  box-sizing: content-box;
}

textarea {
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff;
  font: 21px MullerRegular,sans-serif;
  margin-top: 20px;
  resize: none;
  overflow: hidden;
  width: 100%;
}

figure{
  margin: 0;
}

body{
  color:black;
  background: #f2f2f2;
}
.title
{
  font-size: 30px;
  color: #fff;
  background: #958869;
  padding: 8px 25px;
  font-family: RoadRadio-Bold, sans-serif;
  text-transform: uppercase;
  display: inline-block;
  border-radius: 5px;
  margin: 0 auto;
  margin-bottom: 65px;
}
.subtitle{
  font: 21px MullerRegular, sans-serif;
  margin-top:-45px;
  color:#fff;
}

.icon-star{
  .sprite(@spr-star-1);
  display: inline-block;
}

.icon-star.empty{
  .sprite(@spr-star-0);
}

.text{
  font-family: MullerRegular, sans-serif;
  font-size: 15px;
}

.btn{
  background: linear-gradient(to top, #0073ff, #00bfff);
  border-radius: 35px;
  color: #fff;
  font: bold 27px RoadRadio-Bold, sans-serif;
  border-width: 0;
  outline: 0;
  cursor: pointer;
  box-shadow: -7px 4px 21px 2px rgba(0,1,3,.35);
  display: inline-block;

    &-small{
      font-size:15px;
    }

    &-md{
      font-size: 18px;
      padding: 10px 30px;
    }

    &-link{
      color: #0073ff;
      font:18px RoadRadio-Bold, sans-serif;
      background: none;
      border-bottom: 1px dotted #0073ff;
      cursor: pointer;
      text-decoration: none;

    }

    &:hover{
      background: linear-gradient(to top, #968969, #c7bb9d);
    }

    &:active{
      background: linear-gradient(to bottom, #968969, #c7bb9d);
    }
}

.visible{
  visibility: visible !important;
}


