.font(@fontName; @urlName: @fontName; @weight: normal; @style: normal) {
  font-family: '@{fontName}';
  src: url('../fonts/@{urlName}/@{fontName}.eot');
  src: url('../fonts/@{urlName}/@{fontName}.woff2');
  src: url('../fonts/@{urlName}/@{fontName}.eot#iefix') format('embedded-opentype'),
  url('../fonts/@{urlName}/@{fontName}.woff') format('woff'),
  url('../fonts/@{urlName}/@{fontName}.ttf') format('truetype');
  font-weight: @weight;
  font-style: @style;
}

