//Переменные с информацией об элементах спрайта

@spr-arrow-blue-left: 'sprite.png' -86px -339px 26px 26px;


@spr-arrow-blue-right: 'sprite.png' -115px -339px 26px 26px;


@spr-arrow-brown-left: 'sprite.png' -86px -368px 26px 26px;


@spr-arrow-brown-right: 'sprite.png' -86px -310px 26px 26px;


@spr-arrow: 'sprite.png' -115px -310px 26px 26px;


@spr-avatar: 'sprite.png' 0px 0px 160px 160px;


@spr-checked: 'sprite.png' -140px -203px 17px 14px;


@spr-form_close: 'sprite.png' -140px -163px 18px 18px;


@spr-form_close_mini: 'sprite.png' -140px -220px 8px 8px;


@spr-mobile_menu: 'sprite.png' -86px -282px 28px 25px;


@spr-nav-close: 'sprite.png' -124px -233px 30px 29px;


@spr-plus: 'sprite.png' -140px -184px 17px 16px;


@spr-review-left: 'sprite.png' -43px -163px 40px 252px;


@spr-review-right: 'sprite.png' 0px -163px 40px 252px;


@spr-slider: 'sprite.png' -124px -265px 10px 14px;


@spr-smartphone-cart: 'sprite.png' -86px -233px 35px 46px;


@spr-smartphone: 'sprite.png' -86px -163px 51px 67px;


@spr-star-0: 'sprite.png' -115px -368px 21px 19px;


@spr-star-1: 'sprite.png' -139px -368px 21px 19px;


@spr-success: 'sprite.png' -117px -282px 29px 22px;


//Миксин для вывода спрайта
.sprite( @img ) {
	@path: '../img/';
	@bg: extract(@img, 1);
	background-image: url("@{path}@{bg}");
	background-position: extract(@img, 2) extract(@img, 3);
	background-repeat: no-repeat;
	width: extract(@img, 4);
	height: extract(@img, 5);
}
