@import "smart-grid.less";
@import "mixins.less";
@import "sprite.less";
@import "main.less";
@import "selectize.less";
@import "ui-slider.less";


.browserupgrade{
	background: #5d93eb;
	padding-left: 10px;
	font-size: 20px;
}

.header {
	background: #353535;
	color: #fff;

	&.nav-open {

		.header__nav {
			display: block;
		}

	}

	.row {
		justify-content: space-between;
		flex-wrap: nowrap;
		min-height: 78px;
	}

	&__nav {

		@media screen and (max-width: @break_sm){
			display: none;
			z-index: 900;
			width: 100%;
			position: fixed;
			padding-top: 70px;
			left: 0;
			background: #353535;
		}

		&-mobile{
			.sprite(@spr-mobile_menu);
			display: none;
			margin: auto 20px;
			cursor: pointer;
			//transition: all 0.5s;

			@media screen and (max-width: @break_sm){
				display: block;
			}
		}

		&-close{
			.sprite(@spr-nav-close);
			margin: auto 20px;
			cursor: pointer;
			position: absolute;
			top: 25px;
			left: 8px;
			display: none;

			@media screen and (max-width: @break_sm){
				display: block;
			}
		}

		ul{
			@media screen and (max-width: @break_sm){
				text-align: center;
			}
		}


		li {
			display: inline;

			@media screen and (max-width: @break_sm){
				display: block;
			}

			&:hover a{
				color:red;
				border-color: #3196ef;
				color: #3196ef;
			}
			&:active a{
				color:red;
				border-color: #3196ef;
				color: #3196ef;
			}
		}

		a {
			color: #fff;
			text-decoration: none;
			border-top: 2px solid transparent;
			padding: 28px 14px;
			display: inline-block;
			font: 18px RoadRadio, sans-serif;
			margin: 0 -2px;

			@media screen and (max-width: @break_sm){
				border: none;
				padding: 15px 20%;

			}
		}


	}

	&__tel {

		position: relative;
		flex-basis: 20%;
		margin-top: 10px;
		text-align: center;
		min-width: 215px;

		@media screen and (max-width: @break_sm){
			flex-basis: 50%;
		}

		&-number {
			font: 25px RoadRadio-Bold, sans-serif;
			display: inline-block;
		}

		.btn-small{
			font-size: 17px;
			padding: 4px 18px;
		}

		&:before{
			content: '';
			.sprite(@spr-smartphone);
			position: absolute;
			left: -75px;
			bottom: 0;

			@media screen and (max-width: @break_sm){
				left: -55px;
			}

			@media screen and (max-width: @break_xs){
				display: none;
			}
		}

	}

}


#basket {
	z-index: 9999;
	position: fixed;
	right: 1%;
	background-color: rgba(201, 188, 156, 0.9);
	padding: 15px;
	top: 90px;
	width: 370px;
	border-radius: 5px;
	box-shadow: inset 0px 0px 43px 0px rgba(149, 136, 105, 1);
	display: none;
	justify-content: left;
	justify-items: center;
	align-items: center;

	&:before{
		content: '';
		display: inline-block;
		.sprite(@spr-smartphone-cart);
		margin-right: 20px;
	}

	.close{
		content: '';
		display: inline-block;
		.sprite(@spr-form_close_mini);
		position: absolute;
		top: 10px;
		right: 10px;
		cursor: pointer;

	}
}

.basket__textMsg{
	font-size: 18px;
	color: #fff;
	font-family: MullerRegular,sans-serif;
	flex-basis: 80%;

}



/*---------Главный экран----------*/
.main {

	background: url("../img/auto.png") no-repeat 83% 57%, url("../img/bg1.jpg") no-repeat 0 0;

	@media screen and (max-width: @break_sm){
		background: url("../img/bg1.jpg") no-repeat 20% 0;
		background-size: 1920px;
	}

	>.container{
		@media screen and (max-width: @break_sm){
			background: url(../img/auto.png) no-repeat 0 150px;
			background-size: 100%;
		}
	}

	.row {
		align-items: flex-start;
		justify-content: space-between;
		padding-top: 60px;
	}

	form{
		position: relative;
	}

	&__btn-mobile{
		display: none;
		padding: 5px 20px;
		margin: 10% auto;

		@media screen and (max-width: @break_sm){
			display: block;
		}
	}

	.title{
		@media screen and (max-width: @break_sm){
			font-size: 24px;
			margin-bottom: 65%;
		}
	}

}

.form_main, .form_part{
	.col();
	/*.col-3();*/

	width: 280px;

	height: 713px;
	background: #353535;
	border-radius: 5px;
	position: relative;
	padding: 10px 0;

	@media screen and (max-width: @break_sm){
		display: none;
	}


}


.titleGroup {
	.col();
	.col-9();
	.col-sm-12();
	text-align: center;
}
.form_part{
	position: absolute;
	top: 0;
	left: 280px;
	display: none;

	.btn-close{
		position: absolute;
		transform: rotate(90deg);
		border-radius: 5px 5px 0 0;
		font: 16px MullerRegular, sans-serif;
		padding: 0px 16px;
		right: -67px;
		top: 100px;
		line-height: 42px;

		&:after{
			content: '';
			.sprite(@spr-arrow-blue-right);
			display: inline-block;
			position: relative;
			top: 10px;
			left: 7px;
			transform: rotate(90deg);
		}

		&:hover , &:active{
			&:after{
				.sprite(@spr-arrow-brown-right);
			}
		}
	}
}



.adv {
	.col();
	.col-sm-12();
	.offset-sm(0);
	.col-9();
	.offset-left(3);

	@media screen and (max-width: @break_sm){
		margin-top: 50px;
	}


	margin-top: -245px;
	.row {
		justify-content: center;
	}
	&__item {
		width: 192px;
		height: 192px;
		background: #fff;
		border-radius: 50%;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		margin-left: 80px;

		@media screen and (max-width: @break_sm){
			margin: 15px 0;
		}
	}
	&__amt {
		color: #3196ef;
		font: bold italic 36px MullerBoldItalic, sans-serif;
		margin-top: 4px;
	}
	&__desc {
		color: #000;
		font: italic 18px MullerRegularItalic, sans-serif;
		padding: 10px 10px 0px 10px;
		text-align: center;
	}



}

.btn-main {
	font-size: 27px;
	padding: 5px;
	width: 100%;
	align-self: center;
}

.btn-open {
	font: 16px MullerRegular, sans-serif;
	border-radius: 5px 5px 0px 0px;
	text-transform: none;
	padding: 13px 40px 13px 15px;
	transform: rotate(90deg);
	position: absolute;
	top: 113px;
	right: -105px;

	/*img{
		position: absolute;
		right: 5px;
		top: 11px;
		transform: rotate(-90deg);
	}*/

	&:after{
		content: '';
		.sprite(@spr-arrow-blue-right);
		display: inline-block;
		position: absolute;
		right: 8px;
		top: 9px;
		transform: rotate(270deg);
	}

	&:hover, &:active{
		&:after{
			.sprite(@spr-arrow-brown-right);
		}
	}


/*	&:after{
		content: '';
		height: 26px;
		width: 26px;
		background: url("../img/arrow-blue.png");
		display: block;

	}*/
}
/*---------//Главный экран----------*/

/*---------Какие элементы автомобиля мы проверяем----------*/
.check {
	margin-top: 200px;
	//height: 810px;
	background: url(../img/bg2.png) 50% 73px no-repeat;
	padding-bottom: 85px;

	@media screen and (max-width: @break_sm){
		background: url(../img/bg2.png) 50% 220px no-repeat;
		margin-top: 50px;
	}


	.row {
		justify-content: center;
		position: relative;
		background: url(../img/dashed.png) 43% 210px no-repeat;

		@media screen and (max-width: @break_sm){
			background: none;
		}

	}

	.title{
		@media screen and (max-width: @break_sm){
			margin-bottom: 150px;
			//margin-bottom: 43%
		}
	}

	&__btn {
		padding: 18px 36px;

		@media screen and (max-width: @break_sm){
			padding: 5px 36px;
			margin-top: 40px;
		}

	}

	&__item {
		display: block;
		position: absolute;
		color: #fff;
		font: 21px MullerRegular, sans-serif;
		max-width: 180px;

		@media screen and (max-width: @break_sm){
			position: inherit;
			top: auto !important;
			bottom: auto !important;
			left: auto !important;
			right:auto !important;
			max-width: none;
			font-size: 21px;
			.col();

		}
	}

	&__desc {
		padding-top: 5px;
	}

	&__car {
		margin-top: 200px;
		margin-left: 42px;
		padding-bottom: 50px;
		.order-sm(4);
		.col-sm-12();

		@media screen and (max-width: @break_sm){
			margin-top: 15px;
			padding-bottom: 25px;
		}
	}

	.item1 {
		bottom: -25px;
		left: 0px;
		.order-sm(7);
		.col-sm-6();
	}
	.item2 {
		bottom: 140px;
		left: 25px;
		.order-sm(5);
		.col-sm-6();
		margin-bottom: 25px;
	}
	.item3 {
		top: 185px;
		left: 365px;
		color:#000;
		.order-sm(1);
		.col-sm-4();
	}
	.item4 {
		top: 145px;
		left: 530px;
		color:#000;
		.order-sm(2);
		.col-sm-4();

		@media screen and (max-width: @break_sm){
			top: -40px !important;
		}
	}
	.item5 {
		top: 110px;
		left: 690px;
		color:#000;
		.order-sm(3);
		.col-sm-4();

		@media screen and (max-width: @break_sm){
			top: -80px !important;
		}
	}
	.item6 {
		bottom: 345px;
		right: 68px;
		.order-sm(6);
		.col-sm-6();
	}
	.item7 {
		bottom: 195px;
		right: 75px;
		.order-sm(8);
		.col-sm-6();
	}
}

/*---------//Какие элементы автомобиля мы проверяем----------*/

/*---------Как происходит процесс подбора----------*/
.steps {

	margin-top: 95px;
	background: url("../img/bg3.png") center 145px no-repeat;


	@media screen and (max-width: @break_sm){
		background: url(../img/bg3.png) -480px 87% no-repeat;
		margin-top: 35px;
	}

	.row {
		justify-content: center;
	}

	&__item {

		.col();
		.col-sm-12();
		.col-4();

		text-align: center;
		font: 21px MullerRegular, sans-serif;
		padding: 0 70px;

		&:nth-child(odd){
			order: -1;
			margin-bottom: 70px;

			@media screen and (max-width: @break_sm){
				order: 0;
			}

		}

		&:last-child{
			margin-bottom: 35px;
		}

		@media screen and (max-width: @break_sm){
			margin-bottom: 65px;
		}

	}


	&__bigText {
		font: 60px RoadRadio, sans-serif;
		color: #958869;

	}


}

/*---------//Как происходит процесс подбора----------*/

/*---------Прайс-лист----------*/

.price-list {
	margin-top: 30px;
	color: #fff;
	background: url(../img/bg4.jpg) 0 0 no-repeat;
	min-height:800px; //padding-top 200
	padding-top: 200px;

	@media screen and (max-width: @break_sm){
		padding-top: 10px;
		background: url("../img/bg4_mobile.jpg") 0px 0px no-repeat;
		margin-top: 0px;
		min-height:1448px;
	}


	.title{
		margin-top: 60px;

		@media screen and (max-width: @break_sm){
			margin-top: 100px;
		}

	}

	&__img{
		flex-basis: 33%;
	}

	&__desc{
		flex-basis: 60%;
	}

	&__item {
		.row-flex();
		.col();
		.col-4();
		.col-sm-12();
		align-content: flex-start;
		text-align: left;

		@media screen and (max-width: @break_sm){
			margin-bottom: 70px;
		}

	}

	&__sub {
		font: bold 18px RoadRadio-Bold, sans-serif;
	}

	&__caption {
		font: bold 27px RoadRadio-Bold, sans-serif;
	}

	&__pars li {

		font: 16px MullerRegular, sans-serif;
		padding: 10px;
		margin-left: 20px;
		position: relative;

		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			.sprite(@spr-checked);
			top:30%;
			left:-20px;
		}

	}

	.bonus {
		&:before {
			content: '';
			display: inline-block;
			position: absolute;
			top:30%;
			left:-20px;
			.sprite(@spr-plus);
			background-repeat: no-repeat;
		}
	}


	&__btn{
		margin-top:15px;
	}

}

/*---------//Прайс лист----------*/

/*---------Гарантии----------*/

.warranties{
	margin-top:35px;


	&__item{
		.col();
		.col-4();
		.col-sm-12();

		text-align: left;
		flex-wrap: wrap;
		display: flex;
		align-items: flex-end;

		@media screen and (max-width: @break_sm){
			margin-bottom: 50px;
		}

	}

	.row{
		align-items: flex-start;
	}

	img{
		margin-right: 20px;
	}

	&__text{
		font: 16px MullerRegular, sans-serif;
		padding-top: 15px;
		line-height: 150%;
		width: 100%;
	}

	&__caption{
		font: 24px RoadRadio-Bold, sans-serif;
		flex-grow:1;
		flex-basis: 50%;
	}
}

/*---------//Гарантии----------*/

/*---------Отзывы----------*/

.reviews{
	margin-top:50px;
	min-height:590px; //720px;
	background: url("../img/bg2.png")center no-repeat;
	padding-top: 130px;

	@media screen and (max-width: @break_sm){
		background: url("../img/bg6_mobile.jpg") 100% no-repeat;
		margin-top: 20px;
		min-height: 879px;
		padding-top: 75px;
	}


	.title{
		margin-bottom: 30px;
		/*@media screen and (max-width: @break_sm){
			margin-bottom: 30px;
		}*/
	}

	.bg{
		width: 770px;
		height: 272px;
	}

	&__background-white{
		.row-flex();
		.col();
		.col-8;
		.col-sm-12();

		margin: auto;
		background: #fff;
		height: 272px;
		border-radius: 5px;
		position: relative;
		padding: 30px;
		margin-bottom: 15px;

		.item{
			display: flex;
			flex-wrap: wrap;
		}

		@media screen and (max-width: @break_sm){

			.item{
				flex-direction: column-reverse;
			}

			height: auto;
			flex-direction: column-reverse;
			padding: 15px;

			&:before, &:after{
				display: none;
			}
		}

		&:before{
			content: '';
			.sprite(@spr-review-left);
			position: absolute;
			left: -40px;
			top: 10px;
		}

		&:after{
			content: '';
			.sprite(@spr-review-right);
			position: absolute;
			top: 10px;
			right: -40px;
		}

	}

	&__caption{
		font: 22px RoadRadio-Bold, sans-serif;
		text-transform: capitalize;
	}

	&__social{
		font: 16px MullerRegular, sans-serif;
		color: #4740e1;
		padding-top: 7px;
	}

	&__text{
		font: 16px MullerRegular, sans-serif;
		text-align: left;
		line-height: 1.5em;
		padding: 20px 0;
		width: 100%;
	}

	&__avatar{
		flex-basis: 36%;
		padding: 25px 0px;

		@media screen and (max-width: @break_sm){
			padding: 5px 0 10px 0;
		}

	}

	&__content{
		flex-basis: 64%;
		flex-wrap: wrap;
		display: flex;
		justify-content: space-between;
		align-content: flex-start;

		@media screen and (max-width: @break_sm){
			justify-content: center;
			display: block;
		}


	}

	&__nav{
		text-align: center;
		-webkit-tap-highlight-color: transparent;
		width: 100%;
		margin-bottom: 15px;

		.owl-dot{
			cursor: pointer;
			display: inline-block;
		}

		span{
			width: 10px;
			height: 10px;
			margin: 5px 7px;
			background: #D6D6D6;
			display: block;
			-webkit-backface-visibility: visible;
			transition: opacity .2s ease;
			border-radius: 30px;
		}

		.active span{
			background: #9f8c6e;
		}
	}



}


/*---------//Отзывы----------*/

/*---------Контакты----------*/

.contacts{
	min-height: 200px;

	.title{
		@media screen and (max-width: @break_sm){
			margin-bottom: 0px;
		}
	}

	&__content{
		.col();
		.col-3();
		.offset-left(2);
		.col-sm-12();
		.offset-left-sm(0);

		text-align: left;

		&-title{
			font: 18px MullerRegular, sans-serif;
			margin-top: 35px;

			@media screen and (max-width: @break_sm){
				margin-top: 25px;
			}

		}

		&-text{
			font: 21px RoadRadio-Bold, sans-serif;
		}
	}



	&__form{
		.col();
		.col-4();
		.offset-left(1);
		.col-sm-12();
		.offset-left-sm(0);

		@media screen and (max-width: @break_sm){
			margin-top: 25px;
		}


		form{
			flex-wrap: wrap;
			display: flex;
			flex-direction: column;
			height: 100%;
		}


		height: 380px;
		background: #353535;
		border-radius: 5px;
		padding: 26px;

		input {
			margin-bottom: 20px;
		}

		textarea {
			margin-bottom: 20px;
			flex-grow: 1;
		}

		.btn-main{
			width: 220px;
			align-self: flex-start;
		}



	}


}

/*---------//Контакты----------*/

/*---------Футер----------*/

footer{
	background: #353535;
	margin-top: 80px;

	.row{
		min-height: 78px;
		align-items: center;
	}
}

.copyright{
	color: #fff;
	font: 14px MullerRegular, sans-serif;
	line-height: 1.3em;
}
/*---------//Футер----------*/

/*---------Форма обратного звонка----------*/
.form_callback{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: auto;
	z-index: 999;
	background: rgba(0, 0, 0, 0.75);
	visibility: hidden;

	any{
		width: 100%;
		height: 100%;
		position: fixed;
		left: 0;
		top:0;
		display: flex;
		align-items: center;
		justify-content: center;
		overflow: auto;
		z-index: 999999;
	}

	form{
		flex-wrap: wrap;
		display: flex;
		flex-direction: column;
		//height: 310px;
		width: 370px;
		background: #353535;
		border-radius: 5px;
		padding: 25px;
		position: fixed;
		box-sizing: border-box;


		@media screen and (max-width: @break_sm){
			height: 100%;
			width: 100%;
			left: 0;
			top:0;
		}

	}

	input {
		margin-bottom: 20px;
		width: 100%;
	}

	.form_close{
		.sprite(@spr-form_close);
		position: absolute;
		top: -28px;
		right: -28px;
		cursor: pointer;

		@media screen and (max-width: @break_sm){
			.sprite(@spr-nav-close);
			top: 0;
			right: 0;
			margin-top: 20px;
			margin-right: 30px;
		}

	}

	h3 {
		font: 24px RoadRadio-Bold, sans-serif;
		color: #ffffff;
		padding-bottom: 30px;
	}

	.btn{
		width: auto;
		align-self: left;
		padding: 5px 30px;
		margin-top: 10px;
	}

	p{
		font: 14px MullerRegular, sans-serif;
		color: #c1c1c1;
	}

	&.result{

		form{
			padding: 95px;
			text-align: center;
		}

		& h3{
			color: #fff;
			padding-bottom: 10px;
			padding-top: 25px;
		}
	}

	img {
		margin: 0 auto;
		width: 29px;
	}

	.form_rating{
		margin: 5px 0 20px 0;
	}

}

#form_thx{

	text-align: center;
	padding: 20px;

	.form_thx_icon{
		.sprite(@spr-success);
		display: inline-block;
		margin: 10px 0 20px 0;
	}

	.content{
		text-align: center;
		padding: 20px;
	}
}




/*---------//Форма обратного звонка----------*/