.ui-slider-handle{
	position: absolute;
	z-index:2;
	touch-action: none;
	.sprite(@spr-slider);
	top: -1px;
	margin-left: -5px;
	outline: none;
}

.ui-slider{
	width:100%;
	background: 0 0 #fff;
	border-radius:5px;
	height:10px;
}

.ui-slider-range{
	height:10px;
	background: 0 0 #5d93eb;
	position: absolute;
	z-index: 1;
	font-size: .7em;
	display: block;
	border: 0;

	width:100%;
}

.ui-slider{
	position: relative;


}


label{
	font:14px MullerRegular,sans-serif;
	color: #c1c1c1;
	align-self: flex-start;
}
.selectize-control{
	width: 100%;
	border-bottom: 2px solid #fff;
	display: inline-block;
}
#year,#price,#mile, #hp, .select{
	background: #353535;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;

	&>div{
		display: flex;
		justify-content: space-between;
		width: 100%;
		&>div{
			flex-basis: 100px;
		}
	}
}

#year, #mile, #hp{
	background: #444;
}


#year_slider,#price_slider, #mile_slider, #hp_slider{
	flex-basis: 100% !important;
	margin-top: 15px;
}

.selectize-input,.selectize-dropdown-content{
	color:#3196ef;
	font: 15px MullerRegular, sans-serif;

}

.selectize-control.single .selectize-input{
	background: transparent;
	border: none;

}

.form-input{
	border: none;
	border-bottom: 2px solid #fff;
	color:#fff;
	font: 21px MullerRegular, sans-serif;
	background: transparent;
	outline: none;
	padding: 5px 0;

}

.form-autocomplete{
	input {
		font-size: 20px;
		color: white;

	}
	.selectize-input{
		padding: 5px 0 0 0;
		background: transparent;

	}
}

.main-form_input-container{
	padding: 15px 25px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: column;
	align-items: flex-start;

}

#city, #name, #phone{
	margin-bottom: 25px;
}